<div class="body">



  <div class="header-sec container">
    <p id="title">
      Explore
    </p>
    <div class="subsection">

      <div class="heading ">{{api}}
        <div class="subheading">APIs</div>
      </div>
      <div class="heading ">{{plat}}
        <div div class="subheading">Platforms</div>
      </div>
      <div class="heading ">{{res}}
        <div div class="subheading">Resources</div>
      </div>
    </div>
  </div>



  <div class="search-seaction">
    <section> Search for an API </section>
    <input type="text" id="search" [(ngModel)]="searchinput" placeholder="Enter an API" (keyup)="searchFilter()">

  </div>

  <div class="para">
    Configurations helps change a group of system settings across your computers in one-click. Click on one of the settings below
    to get started.
  </div>

  <div class="loaderM" [ngClass]="loader? 'd-block':'d-none'"></div>
  <div>
    <div class="rows">
      <div class=" noRecord" *ngIf="viewdata.length == 0">No Matching API Records Found</div>
      <div class="cards" *ngFor="let data of viewdata" [style.border-color]="data.color">
        <ul type="none">
          <div class="cardtitle">{{data.title}}</div>

          <li *ngFor="let api of data.value" data-bs-toggle="modal" data-bs-target="#exampleModal" [ngClass]="{'my-disable':api.link=='/'}">
            <a [routerLink]="api.link" style="text-decoration: none;" class="li-cont disable">
              {{api.title}}
            </a>
          </li>
        </ul>

      </div>
    </div>


  </div>