<div class="body">


  <div class="header-sec container">
    <p id="title">
      Explore
    </p>
    <div class="subsection">

      <div class="heading ">{{api}}
        <div class="subheading">APIs</div>
      </div>
      <div class="heading ">{{plat}}
        <div div class="subheading">Platforms</div>
      </div>
      <div class="heading ">{{res}}
        <div div class="subheading">Resources</div>
      </div>
    </div>
  </div>



  <div class="search-seaction">
    <section> Search for an API </section>
    <input type="text" id="search" placeholder="Enter an API">

  </div>

  <div class="para">
    Configurations helps change a group of system settings across your computers in one-click. Click on one of the settings below
    to get started.
  </div>


  <div>
    <div class="rows">

      <div class="cards" *ngFor="let data of database" [style.border-color]="data.color">
        <ul type="none">
          <div class="cardtitle">{{data.title}}</div>

          <li *ngFor="let api of data.value" data-bs-toggle="modal" data-bs-target="#exampleModal" class="li-cont">
            {{api}}
          </li>
        </ul>

      </div>
    </div>


  </div>