<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="row">
        <div class="nav col-3">
          <ul type="none" class="p-0">
            <li class="nav-items">
              <a routerLink="/text-to-speech" class="button" routerLinkActive="active"> Text to Speech</a>
            </li>
            <li class="nav-items">
              <a routerLink="/textract" class="button" routerLinkActive="active"> Textract</a>
            </li>
            <li class="nav-items">
              <a routerLink="/speech-to-text" class="button" routerLinkActive="active"> Speech to Text</a>
            </li>
            <li class="nav-items">
              <a routerLink="/comprehend" class="button" routerLinkActive="active"> Comprehend</a>
            </li>
            <li class="nav-items">
              <a routerLink="/image-recognition" class="button" routerLinkActive="active"> Image Recognition</a>
            </li>

          </ul>
        </div>

        <div class="body col-9">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>