<div class="modal-header">
    <h5 class="modal-title">Textract Demonstration</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" routerLink="/"></button>
</div>
<div class="modal-body modal-dialog-scrollable">
    <div class="body-sections">
        <div class="row" style="height: 519px;">
            <div class="col-sm-6">
                <div class="section-title">Document Name</div>
                <div class="image-section">
                    <img [src]="url" alt="" *ngIf="url">

                </div>
                <div class="row buttondiv">
                    <input type="file" id="imagfile" (change)="selectFile($event)" class="custom-file-input" placeholder="Upload Document" hidden [(ngModel)]="change" name="change" accept=".jpg,.png,.jpeg"><label for="imagfile" class="filelabel " [ngClass]="loader? 'my-disable':''">Upload Document</label>
                </div>

            </div>
            <div class="col-sm-6 rightsec">
                <div class="section-title">Results</div>
                <ul class="nav nav-fill fs-13 fw-bold border-bottom mb-4" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" id="raw-text-tab" data-bs-target="#raw-text" role="tab" area-controls="raw-text" aria-selected="true">Row Text</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="forms-tab" data-bs-toggle="tab" data-bs-target="#forms" role="tab" area-controls="forms" aria-selected="false" tabindex="-1">Forms</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tables" role="tab" aria-controls="tables" aria-selected="false" tabindex="-1">Tables</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#queries" role="tab" aria-controls="queries" aria-selected="false" tabindex="-1">Queries</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="raw-text" role="tabpanel" aria-labelledby="raw-text-tab">
                        <div class="row">
                            <div class="search col" style="display: inline-block;">
                                <i class="fa fa-search" style="left: 27px !important;"></i>
                                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="rowTextInput" (keyup)="rowTextSearchFilter()">
                            </div>

                        </div>
                        <div class="container m-2 mt-4">
                            <div class="text-center m-2 p-2" *ngIf="tags.length == 0 ">No Matching Records Found</div>
                            <div class="loaderM " [ngClass]="loader? 'd-block':'d-none'" style="margin-left: 100px !important"></div>
                            <div class="hideScroll" style="max-width: 100%;max-height: 390px;overflow: auto;">
                                <div class="tags" *ngFor="let tag of tags">{{tag}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="forms" role="tabpanel" aria-labelledby="forms-tab">
                        <div class="search forms mb-4">
                            <i class=" fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="formsInput">
                        </div>
                        <div class="text-center m-2 p-2" *ngIf="formsCardsData.length == 0">No Matching Records Found</div>
                        <div class="loaderM " [ngClass]="loader? 'd-block':'d-none'" style="margin-left: 100px !important"></div>
                        <div class="row">
                            <div class="forms-tab-cards col-6 hideScroll" *ngFor="let data of formsCardsData |filter:formsInput">
                                <div class="forms-tab-cards-heading">{{data.heading}}</div>
                                <div class="forms-tab-cards-body">{{data.data}}</div>
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade" id="tables" role="tabpanel" aria-labelledby="tables-tab">
                        <div class="search forms">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="tableInput">
                        </div>
                        <div class="text-center m-2 p-2" *ngIf="tableData.length == 0">No Matching Records Found</div>
                        <div class="loaderM " [ngClass]="loader? 'd-block':'d-none'" style="margin-left: 100px !important"></div>
                        <div style="max-width: 100%;max-height: 390px;overflow: auto;">
                            <table style="width: 100%; margin-top: 30px;" *ngIf="tableData.length!=0">
                                <thead>
                                    <!-- <tr>
                                                                <th scope="col">Item</th>
                                                                <th scope="col">Qty.</th>
                                                                <th scope="col">Price</th>
                                                                <th scope="col">Total</th>
                                                            </tr> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of tableData|filter:tableInput">
                                        <td scope="row" *ngFor="let data of items">{{data}} </td>

                                    </tr>

                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="queries" role="tabpanel" aria-labelledby="queries-tab">
                        <div class="search forms">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" placeholder="Enter a search query..." style="display: inline-block;" [(ngModel)]="queryInput" (keyup)="querySearchFilter()">

                        </div>
                        <h3 class="label-query"><b> Note:</b> Limit of 200 characters per query. Duplicate queries not permitted</h3>

                        <div class="text-center m-2 p-2" *ngIf="queryData.length == 0">No Matching Records Found</div>
                        <div class="loaderM " [ngClass]="loader? 'd-block':'d-none'" style="margin-left: 100px !important"></div>
                        <div class="query-sub-body" *ngFor="let query of queryData">
                            <h3 class="query-sub-heading"> {{query.ques}}?
                                <label class="query-sub-heading-lable">Alias: {{query.alias}}</label>
                            </h3>
                            <div class="query-sub-cont">{{query.ans}}</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btnprimary" (click)="reset()">RESET DEMO</button>
</div>