.fletter {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Montserrat';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-right: 0;
    display: inline;
    font-weight: 900;
}

.sletter {
    text-align: left;
    font-size: 26px;
    font-family: 'Montserrat';
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    display: inline;
    margin: -2px;
}

hr {
    border-color: #AAAAAA;

}

.heading {
    margin-top: 50px;
}

.sidebar {
    margin-top: 3%;
    width: 3%;
    height: 100%;
    position: absolute;
}

.appBody {
    margin-left: 4%
}

.footer {
    padding: 20px;
}

.modal-body {
    height: auto;
    max-height: 540px;
    overflow: auto;
}