img {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    padding: 5px;
}

.rotate {
    transform: rotate(-90deg);
    font-size: 24px;
    font-family: 'Oswald';
    font-weight: lighter;
    color: #AAAAAA;
    text-transform: uppercase;
    width: max-content;
    margin-top: 24px;
    height: 92px;
}

.sidebar {
    border-right: #AAAAAA solid 2px;
    height: 100%;

}

.img-cover {
    /* UI Properties */
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    align-content: center;
    float: right;
    margin-right: 4px;

}