<div class="modal-header">
    <h5 class="modal-title">Comprehend Demonstration</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="body-sections">

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btnsecondary" data-bs-dismiss="modal"><img src="assets/image/downloadlogo.jpg" alt="not dounf"> Download</button>
    <button type="button" class="btn btnprimary">RESET DEMO</button>
</div>