/* @import '~codemirror/lib/codemirror';
@import '~codemirror/theme/material'; */


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0091FF;
    font-family: 'Open Sans';
}


.fs-11 {
    font-size: 11px;
}

.fs-13 {
    font-size: 13px;
}



.c-0 {
    color: #000000;
}

.nav-link {
    cursor: pointer;
}

.modal-body label {
    font-size: 13px;
}

input:checked {
    height: 18px;
    width: 18px;
}

.radio {
    height: 18px;
    width: 18px;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.ace_gutter-layer {
    background-color: #F0F0F0 !important;
}

.ace_folding-enabled > .ace_gutter-cell {
    background: transparent !important;
}

.ace_marker-layer .ace_active-line {
    background: transparent !important;
}

.ace_text-input {
    caret-color: black !important;
    color: aqua;
}

.modal-body::-webkit-scrollbar {
    display: none;
}

.hideScroll::-webkit-scrollbar {
    display: none;
}

.clrbut {
    padding: 0 22px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0091FF;
    font-size: 13px;
    height: 30px;
    background: transparent;
    float: right;
    text-transform: uppercase;
}

.clrbut:disabled {
    background-color: #0091ffaf;
    border: 1px solid #0091ff76;
    cursor: none !important;
}

.button-sm-primary {
    background: #0091FF;
    color: #FFFFFF;
}

.col-9 {
    padding: 0 !important;
}

.my-disable {
    pointer-events: none;
}

.accordion {
    --bs-accordion-btn-icon: url("data: image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:svgjs='http://svgjs.com/svgjs' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' %3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 320 512' %3E%3Cpath fill='%23888' d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z' class='color000 svgShape' /%3E%3C/svg%3E%3C/svg%3E") !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:svgjs='http://svgjs.com/svgjs' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' %3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 320 512'%3E%3Cpath fill='%23888' d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z' class='color000 svgShape'/%3E%3C/svg%3E%3C/svg%3E") !important;
}

.image-section {
    min-width: 365px;
    height: 390px;
    padding: 2px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;


}

.buttondiv {
    padding: 12px;
}

.loaderM {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.ace-dracula .ace_variable,
.ace_constant.ace_numeric,
.ace-dracula .ace_string {
    color: #000000 !important
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------------pagination css------------- */
.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-next.disabled:after {
    content: ">" !important;
    font-weight: bold !important;
    /* display: inline-block; */
    /* margin-left: 0.5rem; */
}

.ngx-pagination .pagination-previous a:before,
.ngx-pagination .pagination-previous.disabled:before {
    content: "<" !important;
    font-weight: bold !important;
    /* display: inline-block; */
    /* margin-right: 0.5rem; */
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #dddddd !important;
    color: #000000 !important;
    cursor: default;
    border-radius: 75% !important;
}

.show-for-sr {
    visibility: hidden !important;
}


/* small loader */
.small-loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
}

.small-loader:after {
    content: " ";
    /* position: absolute; */
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 50%;
    border: 6px solid #0091FF;
    border-color: #0091FF transparent #0091FF transparent;
    animation: small-loader 1.2s linear infinite;
}

@keyframes small-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.customdisabled {
    background-color: #0091ffaf !important;
    border: 1px solid #0091ff76 !important;
    pointer-events: none !important;
}

.ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem !important;
    color: #cacaca !important;
    cursor: default !important;
}

pagination-controls a:not([href]):not([class]),
a:not([href]):not([class]):hover {
    border-radius: 70% !important;
}

textarea {
    resize: none !important;
}

.modal-content .col-3 {
    width: 21%;
    height: 640px;
}

.modal-content .col-9 {
    width: 78%;
    height: 640px;
}