<div class="modal-header">
    <h5 class="modal-title">Text to Speech Demonstration</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body modal-dialog-scrollable">
    <div class="body-sections">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">Transcription Output</div>
                <div class="image-section">

                </div>

            </div>
            <div class="col-sm-6 rightsec">
                <div class="section-title">Settings</div>

            </div>
        </div>



    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btnsecondary" data-bs-dismiss="modal"><img src="assets/image/downloadlogo.jpg" alt="not dounf"> Download</button>
    <button type="button" class="btn btnprimary">RESET DEMO</button>
</div>