.button {
    font-size: 13px;
    font-weight: 900;
    font-family: 'Open Sans';
    color: #888888;
    text-decoration: none;
    text-align: left;
    left: 0px;

}

.modal-body {
    padding-top: 18px;
    max-height: 506px;
    overflow: auto;
}

.modal-footer {
    right: 0%;
}

.wrapper {
    margin-left: 65%
}

.modal-header {
    position: relative;

}


.modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #0091FF;
    font-family: 'Open Sans';
}

.modal-header {
    height: 40px;
}

.body {
    margin-left: 15%
}

.btn {
    border-radius: 30px;
    width: 150px
}

.section-title {
    font: bold 13px 'Open Sans';
    color: #111111;
}


.sub-lable {
    font: 11px 'Open Sans';
    color: #888888;
}

.sub-section {
    font: 13px 'Open Sans';
}

.sub-section label {
    font-family: 'Open Sans';
}

.radio {
    border: 1px solid #0091FF;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

input:checked {
    height: 18px;
    width: 18px;
}

select {
    width: 100%;
    height: 42px;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    color: #888888;
    background: transparent;
}

textarea {
    resize: none;
    width: 100%;
    height: 160px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    font-size: 13px;
    color: #888888;
}

::placeholder {
    color: #888888;
    font-size: 13px;
    opacity: 1;
    font-family: 'Open Sans';
    padding-left: 12px;
    padding-top: 6px;

}

.clrbut {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0091FF;
    font-size: 13px;
    padding: 8.5px 12px;
    background: transparent;
    float: right;
    text-transform: uppercase;
}

.btnsecondary {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0091FF;
    font-size: 13px;
    padding: 8.5px 12px;
}

.btnsecondary svg {
    float: left;
}

.btnsecondary svg {
    float: left;
}

.btn .primary {
    color: #FFFFFF;
}

.btn-primary {
    font-weight: bold;
    color: #FFFFFF;
    background: #0091FF;
    min-width: 25%;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding: 8.5px 12px;
}

.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 17px;
    animation: spin 2s linear infinite;

    float: right;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}