.button {
    font-size: 13px;
    font-weight: 900;
    font-family: 'Open Sans';
    color: #888888;
    text-decoration: none;
    text-align: left;
    left: 0px;

}

.modal-body {
    height: 519px;
    overflow: auto;
}


.wrapper {
    margin-left: 65%
}

.modal-header {
    position: relative;

}





.body {
    margin-left: 15%
}

.btn {
    border-radius: 30px;
    width: 150px
}

.section-title {
    font: bold 13px 'Open Sans';
    color: #111111;
}


.sub-lable {
    font: 11px 'Open Sans';
    color: #888888;
}

.sub-section {
    font: 13px 'Open Sans';
}

.sub-section label {
    font-family: 'Open Sans';
}

.radio {
    border: 1px solid #0091FF;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

input:checked {
    height: 18px;
    width: 18px;
}

select {
    width: 100%;
    font-size: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 21px;
    color: #888888;
    background: transparent;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
}

textarea {
    resize: none;
    width: 100%;
    height: 160px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    font-size: 13px;
    color: #888888;
    padding-left: 12px;
    padding-top: 6px;
}

::placeholder {
    color: #888888;
    font-size: 13px;
    opacity: 1;
    font-family: 'Open Sans';

}

/* .clrbut {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0091FF;
    font-size: 13px;
    width: 98px;
    height: 30px;
    padding: 0px;
    background: transparent;
    float: right;
    text-transform: uppercase;
} */

.btnsecondary {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #0091FF;
    font-size: 13px;
    padding: 8.5px 12px;
    width: 208px;
    height: 36px;
}

.btnsecondary svg {
    float: left;
}

.btnsecondary svg {
    float: left;
}

.btn .primary {
    color: #FFFFFF;
}

.btn-primary {
    font-weight: bold;
    color: #FFFFFF;
    background: #0091FF;
    min-width: 25%;
    text-transform: uppercase;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0091FF;
    border-radius: 24px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 208px;
    height: 36px;
}

.fa-solid,
.fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 17px;
    animation: spin 2s linear infinite;

    float: right;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.customdisabled {
    background-color: #0091ffaf;
    border: 1px solid #0091ff76;
    pointer-events: none !important;
}

input:focus {
    box-shadow: #3498db;
}

.modal-content {
    border-radius: 24px;
    height: 100% !important;
}